  /* Embedded CSS elements use the HTML tags and apply to them
            or custom classes such as .redText
            or by ID #memeImage */
            /*body selector applies to whole page*/
            body{
                /* background color is... background color */
                background-color: rgb(82, 0, 0);
                /*color is text color*/
                color: whitesmoke;
                margin: 0;
                padding: 0;
            }

            header{
                text-align: center;
            }
            
            h1{
                background-color: rgb(107, 100, 8);
                color: whitesmoke;
                padding: 1%;
                margin: 0;
            }

            main{
                text-align: left;
                padding: 1%;
            }

            h2{
                padding: 1%;
                text-align: left;
            }

            nav{
                height:600px;
                width:10%;
                float: left;
                padding: 1%;
                line-height: 30px;
            }

            a{
                color: aquamarine;
                text-decoration: none;
            }

            #memeImage{
                width:20%;
                /*position absolute lets our picture move around*/
                position: absolute;
                right:25%;
                bottom:25%;
            }

            table {
                width: auto;
                border-collapse: separate;
                margin-top: 20px;
            }

            th, td {
                text-align: left;
                padding: 1%;
            }

            footer{
                text-align: left;
                position: fixed;
                margin-left: 12%;
                bottom: 1%;
                width: 88%;
            }